body {
 background-image: url("fishies.gif");
 background-color: #cccccc;
 transition: margin-left .5s;
 padding: 20px;
 }
p { 
   font-size: 36px; 
   color: green;
   border-radius: 25px;
   background-color: yellow;
   } 
.headings {
   background-color: lightblue;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;
   }
ol {
   list-style-type: upper-alpha;
   }
ul {
   list-style-type: square;
   }
figure {
   background-color: lightblue;
  }
div {
  background-color: lightblue;
 }
#header {
  background-color: #899965;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #2C2938;
}
#nav {
  width: 20%;
  height: 100%
  float: left;
  background: #D1CF8C;
  padding: 20px;
  color: #2C2938;
  list-style-type: none;
  text-decoration: none;
}
#article {
  float: relative;
  padding: 20px;
  background-color: #B98B62;
  height: 300px;
  color: #2C2938;
}
#footer {
  clear:both;
  background-color: #899965;
  padding: 10px;
  text-align: center;
  color: #2C2938;
}
#section:after {
  padding: 20px;
  background-color: #B98B62;
  height: 300px;
  color: #2C2938;
}
#slidetotheright {
  float: relative;
}
