.header, .footer {
  clear:both;
  padding: 10px;
  text-align: center;
  background-color: #899965;
}
.sidebar {
  float: left;
  padding: 15px;
}
.rsidebar{
  float: right;
  padding: 15px;
} 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.menu {
  width: 25%;
  lenght: 100%;
  background-color: #B98B62;
}
.content {
  width: 70%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
}
.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #D1CF8C;
  color: #ffffff;
}
.menu li:hover {
  background-color: #0099cc;
  color: red;
}
.border {
    border-top: 1px solid #2C2938;
