  text-decoration: none;
}
#article {
  padding: 20px;
  background-color: #B98B62;
  height: 300px;
  color: #2C2938;
#aside {
  padding: 20px;
  background-color: #B98B62;
  height: 300px;
  color: #2C2938;
}
#section {
  padding: 20px;
  background-color: #B98B62;
  height: 300px;
  color: #2C2938;
}
.slidetotheright {
  width 80%;
}
.header, .footer {
  padding: 10px;
  text-align: center;
  background-color: #2C2938;
}
.column {
  float: left;
  padding: 15px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.menu {
  width: 25%;
}
.content {
  width: 70%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}
.menu li:hover {
  background-color: #0099cc;
}
